{% extends 'base.html' %}

{% block title %}{{ page_title }} - Санарип Билим{% endblock %}

{% block content %}
<div class="container">
    <div class="center-title-wrapper">
        <h1 class="page-title">{{ page_title }}</h1>
    </div>
    
    <h3>Сайтка кантип катталсам болот?</h3>
    <p>Жогорку менюдагы "Катталуу" шилтемесин басып, форманы толтуруңуз.</p>

    <h3>Курстар акы төлөнөбү?</h3>
    <p>Айрым курстар акысыз, айрымдары акы төлөнүүчү болушу мүмкүн. Ар бир курстун бетинде маалымат берилет.</p>

    <h3>Сырсөзүмдү унутуп калдым, эмне кылам?</h3>
    <p>"Кирүү" барагындагы "Сырсөздү калыбына келтирүү" шилтемесин колдонуңуз </p>

</div>
{% endblock %}